.description {
  &__section {
    padding-top: 100px;
    @media screen and (max-width: $tablet) {
      padding-top: 40px;
    }
  }

  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    border-radius: $medium-border-radius;
    overflow: hidden;
    background-color: $secondary_bg;
  }

  &__content {
    padding: 30px 10px 30px 100px;
    @media screen and (max-width: $tablet) {
      padding: 40px 14px;
    }
  }

  &__title {
    margin-bottom: 20px;
  }

  &__image {
    height: 490px;
    overflow: hidden;
    @media screen and (max-width: $tablet) {
      height: 100%;
    }
    & img {
      object-fit: contain;
      width: initial;
      height: inherit;
      margin-left: auto;
    }
  }
}
