.description {
  &__section {
    padding-top: 100px;
  }

  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    border-radius: $medium-border-radius;
    background-color: $secondary_bg;
  }

  &__content {
    padding: 30px 30px 30px 100px;
  }

  &__title {
    margin-bottom: 20px;
  }

  &__image {
    height: 490px;
    overflow: hidden;
    & img {
      object-fit: contain;
      width: initial;
      height: inherit;
      margin-left: auto;
    }
  }
}
