.footer {
  &__section {
    padding: 100px 0;
    @media screen and (max-width: $tablet) {
      padding: 40px 0;
    }
  }
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    @media screen and (max-width: $tablet) {
      gap: 20px;
    }
    @media screen and (max-width: $mobile) {
      justify-content: flex-start;
      align-items: flex-start;
    }
    & .custom-logo {
      width: 290px;
      @media screen and (max-width: $tablet) {
        width: 180px;
      }
    }
  }
  &__widget .menu {
    display: flex;
    gap: 53px;
    @media screen and (max-width: $tablet) {
      gap: 30px;
    }
    @media screen and (max-width: $mobile) {
      flex-direction: column;
      gap: 20px;
    }
  }
  &__copyright {
    font-size: 14px;
    opacity: 0.5;
  }
}
