.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.section {
  padding: 120px 0;
  @media screen and (max-width: $tablet) {
    padding: 60px 0;
  }
}

.container {
  max-width: 1832px;
  margin: 0 auto;
  padding: 0 16px;
  @media screen and (max-width: $desktop) {
    max-width: 1170px;
  }
  @media screen and (max-width: $tablet) {
    width: 100%;
  }
}

.inner-container {
  max-width: 1170px;
  margin: 0 auto;
  @media screen and (max-width: $tablet) {
    width: 100%;
  }
}
