.title {
  font-family: $secondary_font;
  line-height: normal;
  font-weight: 400;
  letter-spacing: 0.04em;
}

.block_title {
  font-size: 60px;
  @media screen and (max-width: $tablet) {
    font-size: 40px;
  }
}

.section_title {
  font-size: 70px;
  & span {
    color: $accent_color;
  }
  @media screen and (max-width: $tablet) {
    font-size: 50px;
  }
}
