.title {
  font-family: $secondary_font;
  line-height: normal;
  font-weight: 400;
  letter-spacing: 0.04em;
}

.block_title {
  font-size: 60px;
}

.section_title {
  font-size: 70px;
  & span {
    color: $accent_color;
  }
}
