$dark_color: #1f1f1f;
$grey_color: #8f8f8f;
$grey_disabled: #e5e5e5;
$grey_disabled_text: #bbb9b9;
$grey_text: #a2a2a2;
$accent_color: #69ae96;
$accent_dark: #3b7a64;
$main_bg: #f5f9fa;
$secondary_bg: #f5fcf8;
$third_bg: #fcf8f5;
$hero_bg: #f1f6f8;
$white: #fff;

$primary_font: "Montserrat", sans-serif;
$secondary_font: "Italiana", sans-serif;

$mobile: 575.98px; //320-575
$tablet: 991.98px; //576-991
$desktop: 1440px; //992-1440
$full: 1920px; //1441-1920

$big-border-radius: 41px;
$medium-border-radius: 10px;
$small-border-radius: 6px;

$transition-function: 500ms ease-in-out;
