@import "../variables.scss";

.description {
  &__section {
    padding-top: 100px;
  }

  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    border-radius: $medium-border-radius;
    background-color: $secondary_bg;
  }

  &__content {
    padding-left: 100px;
  }

  &__title {
    margin-bottom: 20px;
  }
}
